.dropdown-menu {
    width: auto; /* Auto width based on content */
    min-width: 16rem; /* Minimum width */
}

.dropdown-toggle {
    background-color: #fff; /* White background */
    color: #4391C6; /* Color from your header for consistency */
    border-color: #4391C6; /* Border color to match */
}

.dropdown-toggle:hover, .dropdown-toggle:focus {
    background-color: #f3f4f6; /* Light gray for hover and focus */
    
}

/* Ensuring the dropdown text matches the design */
.dropdown-menu p, .dropdown-menu ul {
    padding: 0.5rem 1rem; /* Padding for text and list */
}

.dropdown-menu ul li {
    padding: 0.25rem 0; /* Padding for list items */
}
