.dropdown-menu {
    width: auto; 
    min-width: 16rem; 
}

.dropdown-toggle {
    background-color: #fff;
    color: #4391C6; 
    border-color: #4391C6;
}

.dropdown-toggle:hover, .dropdown-toggle:focus {
    background-color: #f3f4f6; 
    
}

.dropdown-menu p, .dropdown-menu ul {
    padding: 0.5rem 1rem;
}

.dropdown-menu ul li {
    padding: 0.25rem 0; 
}
